@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/photo-of-people-doing-handshakes-3183172.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/photo-of-people-doing-handshakes-3183172.png);
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.color1 {
  color: #d9dae4;
}

.backgroundpinkcurve {
  background: url(../assets/Rectane3.png);
  background-size: cover;
  opacity: 0.9;
}

.backgroundblue {
  background: url(../assets/testimonialsbg1.png);
  background-size: cover;
  background-position: center;
}

.responsive {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  color: #f44916;
  padding: 1rem;
}

.content {
  display: none;
}

div:focus {
  border-bottom: #2178ff;
}
/*# sourceMappingURL=style.css.map */